<h1>Manager plików</h1>
<ul>
    {{#each filesData}}
    <li>
        {{this.name}} ({{this.size}} bytes)
        <a href="/download/{{this.id}}">Pobierz</a>
        <a href="/info/{{this.id}}">Info</a>
        <a href="/delete/{{this.id}}">Usuń</a>
        <a href="/show/{{this.id}}">Podgląd</a>
    </li>
    {{/each}}
</ul>
<a href="/">Powrót</a>
<a href="/reset">Reset</a>